*.orig
a.out
*.log
*.guess
*.h.in
*.sub
docs/C:\\nppdf32Log\\debuglog.txt
ar*.html
config.status
userguide.html
index.html
libtool
ltmain.sh
m4/*
.*
*.o
cagtest
*~
*.lo
*.la
*.tar.gz
/config.h
/caglconfig.h
/cagl-*.pc
/Makefile.in
/Makefile
/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing
/stamp-h1
/stamp-h2
tmp*
examples/eg_docstring
examples/decs.txt
examples/arrayfuncs.txt
docs/manual.html
docs/manual.pdf
bin/eg_process_docs
docs/manual/
