p {
    font-size: 12pt;
}
h1 {font-size: 16pt; }
h2 {font-size: 15pt; }
h3 {font-size: 14pt; }
h4 {font-size: 13pt;}
h5 {font-size: 12pt;}
h6 {font-size: 12pt;}

pre {
    background-color: #F0F0F0;
    max-width: 700px;
    padding: 10px;
    overflow:auto;
}

dt {
    font-style:italic;
}
